body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #b5a513;
  }
  
  .container {
    margin-top: 100px;
  }
  
  h1 {
    color: #099e5b;
  }
  
  p {
    color: #666;
  }