body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #b51313;
  }
  
  .container {
    margin-top: 100px;
  }
  
  h1 {
    color: #9e0971;
  }
  
  p {
    color: #6559c1;
  }